.widgets__main {
  padding: 20px;
  background-color: var(--main-widgets-bg-color);
  border-radius: 15px;
  transition: box-shadow 0.3s ease-in-out;

  &:hover {
    box-shadow: 7px 4px 10px rgb(173 216 230 / 40%);
  }
}
