/* Указываем box sizing */
/* stylelint-disable */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class */
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article */
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

button {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --main-bg-color: #add8e6;
  --main-widgets-bg-color: #f8f8f8;
  --main-text-color: #FFF;
  --sec-text-color: #c4c4c4;
}

body {
  font-family: Poppins, Verdana, sans-serif;
}

.header__title {
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

.header {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  background-color: var(--main-bg-color);
}

.main-information__city-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-information__city-wrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.main-information__city {
  color: var(--main-text-color);
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}

.main-information__current-date-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-information__current-date {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 24px;
}

.main-information__current-time {
  color: #fff;
}

.main-information__navig-icon {
  width: 20px;
  height: 20px;
}

.main-information__temp-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.main-information__temp {
  color: var(--main-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 54px;
}

.main-information__weather-description {
  color: var(--main-text-color);
  font-size: 16px;
  line-height: 24px;
}


.main-information__wrapper {
  display: flex;
  gap: 20px;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .main-information__wrapper {
    justify-content: center;
  }
}

.search {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.container{width:100%;max-width:720px;margin:0 auto;padding:0 20px}@media screen and (max-width: 767px){.container{padding:0 20px}}.footer__author{color:#fff;font-weight:700;font-size:14px;line-height:21px;text-align:center}.footer{display:flex;align-items:flex-end;justify-content:center;width:100%;height:100px;padding:20px 0;background-color:#14a1be}.hourly-forecast__icon{width:50px;height:50px}@media screen and (max-width: 768px){.hourly-forecast__icon{width:30px;height:30px}}.hourly-forecast__item{display:flex;flex-direction:column;align-items:center}.hourly-forecast__time{color:#fff;font-weight:500;font-size:16px;line-height:20px;opacity:.8}.hourly-forecast__temp{color:#fff;font-weight:500;font-size:16px;line-height:20px}.hourly-forecast{position:relative;z-index:1;display:flex;gap:5px;align-items:center;justify-content:space-between;margin-top:40px;padding:20px;overflow:hidden;background:inherit;border-radius:15px;box-shadow:0 0 1rem 0 rgba(0,0,0,.15);transition:box-shadow .3s ease-in-out}.hourly-forecast:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}.hourly-forecast::before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-20px;background:inherit;box-shadow:inset 0 0 2000px rgba(255,255,255,.3);filter:blur(10px);content:""}@media screen and (max-width: 768px){.hourly-forecast{display:grid;grid-template-columns:1fr 1fr 1fr 1fr;gap:15px}}@keyframes rotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}@keyframes rotate{from{transform:rotate(0deg)}to{transform:rotate(360deg)}}.load{display:none;width:50px;height:50px;margin:110px auto 0;border:solid 5px #fff;border-right-color:rgba(0,0,0,0);border-bottom-color:rgba(0,0,0,0);border-radius:50%;transition:all .5s ease-in;animation-name:rotate;animation-duration:1s;animation-timing-function:linear;animation-iteration-count:infinite}.load_opened{display:flex}.main-information__temp-diff{color:var(--main-text-color);font-size:16px;line-height:24px}.main-information__temp-diff_wrapper{display:flex;gap:5px}.main-information{display:flex;justify-content:space-around;margin-top:40px}@media screen and (max-width: 767px){.main-information{flex-direction:column-reverse;gap:30px;align-items:center}}.main{min-height:100vh;padding-top:40px;padding-bottom:100px;background:#add8e6;background:linear-gradient(180deg, rgb(173, 216, 230) 0%, rgb(139, 192, 214) 20%, rgb(132, 188, 213) 36%, rgba(23, 110, 159, 0.622) 65%, rgb(20, 161, 190) 100%)}.previous-request__city-name{color:#fff}.previous-request__close-icon{width:20px;height:20px;background-image:url(965fb9aebef48dffa238.svg);background-repeat:no-repeat;background-position:center}@media screen and (max-width: 768px){.previous-request__close-icon{width:15px;height:15px}}.previous-request__wrapper{position:relative;z-index:1;display:flex;gap:10px;align-items:center;padding:10px;overflow:hidden;background:inherit;border-radius:15px;box-shadow:0 0 1rem 0 rgba(0,0,0,.15);transition:box-shadow .3s ease-in-out}@media screen and (max-width: 768px){.previous-request__wrapper{justify-content:center}}.previous-request__wrapper:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}.previous-request__wrapper::before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-20px;background:inherit;box-shadow:inset 0 0 2000px rgba(255,255,255,.3);filter:blur(10px);content:""}.previous-request{z-index:0;display:flex;gap:20px;align-items:center;margin-top:20px}@media screen and (max-width: 768px){.previous-request{display:grid;grid-template-columns:1fr 1fr}}.search__dropdown-button{width:100%;padding:10px 60px;color:inherit;text-align:left}.search__dropdown-button:hover,.search__dropdown-button:focus{background-color:#f2f3f4;border-radius:0 0 15px 15px}.search__dropdown{position:absolute;top:45px;display:flex;flex-direction:column;align-items:flex-start;width:100%;background-color:var(--main-widgets-bg-color);border-radius:0 0 15px 15px;box-shadow:0 8px 10px rgba(173,216,230,.4);transition:box-shadow .3s ease-in-out}.search__dropdown:hover,.search__dropdown:focus{border-radius:0 0 15px 15px;box-shadow:3px 5px 5px rgba(23,110,159,.5)}.search__icon{position:absolute;display:flex;padding-left:25px}.search__input{width:100%;height:45px;padding-right:10px;padding-left:60px;background-color:var(--main-widgets-bg-color);border:none;border-radius:15px;outline:none;transition:box-shadow .3s ease-in-out}.search__input::placeholder{color:var(--sec-text-color)}.search__input::-webkit-search-cancel-button{width:24px;height:24px;margin-left:10px;background:url(e82e55d1901034aec030.svg) no-repeat 50% 50%;background-size:24px;cursor:pointer;appearance:none}.search__input:focus,.search__input:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}@media screen and (max-width: 768px){.search__input{padding-right:15px}}.search__input_opened{border-radius:15px 15px 0 0}.search__input_opened:focus,.search__input_opened:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}.search__wrapper{display:flex;align-items:center;width:100%}.widgets__forecast_day{color:#fff;font-weight:500;font-size:16px;line-height:24px}.widgets__forecast_img{width:30px;height:30px}.widgets__forecast_item-wrapper{position:relative;z-index:1;display:grid;grid-template-columns:1fr 1fr 2fr;gap:10px;align-items:center;padding:10px 20px 10px 15px;overflow:hidden;background:inherit;border-radius:15px;box-shadow:0 0 1rem 0 rgba(0,0,0,.15);transition:box-shadow .3s ease-in-out}.widgets__forecast_item-wrapper:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}.widgets__forecast_item-wrapper::before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-20px;background:inherit;box-shadow:inset 0 0 2000px rgba(255,255,255,.1);filter:blur(10px);content:""}.widgets__forecast_temp-wrapper{display:flex;gap:10px;justify-content:space-between}.widgets__forecast_temp_l{color:#fff;font-size:16px;line-height:24px}.widgets__forecast_temp{color:#fff;font-size:16px;line-height:24px}.widgets__forecast_title{color:#fff;font-weight:600;font-size:18px;line-height:24px;opacity:.8}.widgets__forecast_wrapper{display:flex;gap:10px;align-items:center}.widgets__forecast{position:relative;z-index:1;display:flex;flex-direction:column;gap:20px;padding:20px;overflow:hidden;background:inherit;border-radius:15px;box-shadow:0 0 1rem 0 rgba(0,0,0,.15);transition:box-shadow .3s ease-in-out}.widgets__forecast:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}@media screen and (max-width: 768px){.widgets__forecast{padding:20px}}.widgets__forecast::before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-20px;background:inherit;box-shadow:inset 0 0 2000px rgba(255,255,255,.3);filter:blur(10px);content:""}.widgets__main_description{color:#fff;font-weight:500;font-size:24px;line-height:36px}.widgets__main_title{color:var(--main-text-color);font-weight:600;font-size:18px;line-height:24px;opacity:.8}.widgets__main_wrapper{display:flex;gap:10px;align-items:center;margin-bottom:15px}.widgets__main{position:relative;z-index:1;padding:20px;overflow:hidden;background:inherit;border-radius:15px;box-shadow:0 0 1rem 0 rgba(0,0,0,.15);transition:box-shadow .3s ease-in-out}.widgets__main:hover{box-shadow:3px 3px 5px rgba(23,110,159,.5)}.widgets__main::before{position:absolute;top:0;right:0;bottom:0;left:0;z-index:-1;margin:-20px;background:inherit;box-shadow:inset 0 0 2000px rgba(255,255,255,.3);filter:blur(10px);content:""}.widgets_wrapper{display:grid;grid-template-columns:repeat(2, 1fr);gap:20px}.widgets{display:grid;grid-template-columns:1fr 1fr;gap:20px;margin-top:40px}@media screen and (max-width: 768px){.widgets{grid-template-columns:1fr;gap:20px;justify-content:center}}.wrapper{display:none}.wrapper_opened{display:flex;flex-direction:column}
