@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.load {
  display: none;
  width: 50px;
  height: 50px;
  margin: 110px auto 0;
  border: solid 5px #fff;
  border-right-color: transparent;
  border-bottom-color: transparent;
  border-radius: 50%;
  transition: all 0.5s ease-in;
  animation-name: rotate;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  &_opened {
    display: flex;
  }
}
