.main {
  min-height: 100vh;
  padding-top: 40px;
  padding-bottom: 100px;
  background: rgb(173 216 230);
  background: linear-gradient(180deg, rgb(173 216 230 / 100%) 0%, rgb(139 192 214 / 100%) 20%, rgb(132 188 213 / 100%) 36%, rgb(23 110 159 / 62.2%) 65%, rgb(20 161 190 / 100%) 100%);
}
