.main-information {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
    gap: 30px;
    align-items: center;
  }
}
