.previous-request__close-icon {
  width: 20px;
  height: 20px;
  background-image: url("../../../../images/close.svg");
  background-repeat: no-repeat;
  background-position: center;

  @media screen and (max-width: 768px) {
    width: 15px;
    height: 15px;
  }
}
