.previous-request {
  z-index: 0;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 460px) {
    margin: 0 -20px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
